<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.score.mapper.ScoreMapper">
  
  <insert id="regist" parameterType="scorevo">
  	insert into score(name, kor, eng)
 		values(#{name}, #{kor}, #{eng})
  </insert>
  
  <select id="getList" resultType="scorevo">
  	select * from score order by num;
  </select>
  
  <delete id="delete">
  	delete from score where num = #{num} 
  </delete>
  
  </mapper>
  